#saml-select-user-back-end {
	color: var(--color-primary-text);
	text-align:center !important;
	margin:auto !important;
}

#saml-select-user-back-end #av_mode{
	height: auto;
}

#saml-select-user-back-end h1 {
	font-size: 16px;
	padding: 20px 0;
}

.login-option {	
	border: none;

	font-size: 1rem;
	font-weight: 700 !important;
	text-transform:uppercase !important;
	letter-spacing: 0.05rem;

	margin:20px auto !important;
	min-width: 280px;
}

.login-option a {
	display: inline-block;
	width: 300px !important;
	border-radius:200px;
	padding: 6px 24px!important;
	color: var(--color-primary) !important;
	text-decoration: none !important;
	background-color:var(--color-btn) !important;
}
.login-option a:hover {
	text-decoration: none !important;
	color: var(--color-primary-text) !important;
	background-color: var(--color-btn-hover) !important;
}


.login-option .icon-confirm-white {
	float: right;
	line-height: 40px;
}

